.Box{float:left;font-size:18px;padding: 30px;margin:180px 0px 0px 50px; width:200px}
.head{background-color:#09F; font-size:18px;height:100px}
.Login{ margin:100px 400px 0px 400px;}
a {text-decoration:none; color:#06C ; font-size:18px}
td {padding: 15px;}
h1{padding:15px}
.lec{float:left;margin:100px 0px 0px 0px; width:200px}
table{padding:20px}
.e{padding:0px;margin:0px 0px 0px 150px}
form{ padding:0px; margin:0px 0px 0px 50px;}
.course th{background-color:#36F;color: white;}